<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Djangolar API Market</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <span class="navbar-text m-1 d-block d-lg-inline">
        Welcome {{username}}
      </span>
      <div class="d-grid d-lg-block">
        <button class="btn btn-warning m-1" type="button" [routerLink]="['/purchases']">Purchases</button>
        <button class="btn btn-warning m-1" type="button">Create Purchases</button>
        <button class="btn btn-warning m-1" type="button">Sales</button>
        <button class="btn btn-warning m-1" type="button">Create Sales</button>
        <button class="btn btn-warning m-1" type="button" (click)="logOut()">Logout</button>
      </div>
    </div>
  </div>
</nav>



<ul id="nav-tags" class="nav flex-nowrap bg-dark mb-3 mt-6"
  style="overflow-x: scroll; -webkit-overflow-scrolling: touch; -ms-overflow-style: none;">
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
  <li class="nav-item"><a class="nav-link text-nowrap text-light" href="#">Tag n</a></li>
</ul>
