<app-header></app-header>
<!-- 
  component header and footer are used like include() in other template language to reuse html 
  i'm still not sure if this is the correct way to do it in angular
-->

<main class="container">


    <div class="row">
      <div class="col-md-4">

        <app-aside></app-aside>

      </div>
      <div class="col-md-8">
        
        <div>
          <h1>About Us</h1>
          <p>Quisque sit amet justo quis dolor bibendum accumsan ac in felis. Cras ipsum nibh, tempor sed dolor quis, commodo auctor nisi. Aenean lectus ex, lacinia in turpis nec, dignissim pulvinar eros. Nam dapibus lacinia nulla, at consequat sapien scelerisque nec. Integer ac bibendum ligula, id egestas purus. Nam et est nec elit pellentesque varius. Suspendisse eu ante id libero tempus consequat a in quam. Suspendisse nisl ex, efficitur eget maximus varius, laoreet id nisl. Curabitur nec scelerisque nunc, suscipit porta massa.</p>
          <p>Cras pellentesque venenatis purus nec interdum. Integer pellentesque eleifend eleifend. Curabitur fermentum nibh sed sapien efficitur sagittis. Curabitur auctor fringilla erat, eu ornare dolor tincidunt vel. Vestibulum convallis dui vel mattis rhoncus. Sed maximus, tellus nec condimentum imperdiet, metus augue cursus justo, ut blandit arcu metus vel lacus. Donec maximus ullamcorper libero pulvinar vehicula. Integer efficitur malesuada massa eu fringilla. Proin sit amet laoreet magna, ac faucibus mi. Suspendisse at metus mi. Sed cursus sem eu lectus dictum porta. Sed porta elit a tincidunt tincidunt. Aliquam porta nisi consectetur enim bibendum pulvinar. Suspendisse at sapien mollis, euismod arcu a, maximus neque.</p>
        </div>

      </div>
    </div>


  </main>

<app-footer></app-footer>