<app-header></app-header>

<main class="container-sm">

    <div class="row justify-content-center">
        <div class="col col-sm-8">
            <h1>
                Purchase Order
            </h1>
            <table class="table caption-top" *ngIf='purchase' >
                <caption>Header</caption>
                <tbody>
                    <tr>
                        <th>
                            Code
                        </th>
                        <td>
                            {{ purchase.code }}
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Date
                        </th>
                        <td>
                            {{ purchase.date }}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="text-end">
                            <button class="btn btn-primary btn-sm"  [routerLink]="['/purchases', purchase.id, 'edit']">
                                Edit
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-hover caption-top" *ngIf='purchase?.purchase_detail'>
                <caption>Details</caption>
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Product Name</th>
                        <th>Quantity</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let purchase_detail of purchase?.purchase_detail; let i=index" >
                        <th>{{ i+1 }}</th>
                        <td>
                            {{ purchase_detail.product_name }}
                        </td>
                        <td>
                            {{ purchase_detail.quantity_purchased }}
                        </td>
                    </tr>
                    
                </tbody>

            </table>


        </div>
    </div>

</main>

<app-footer></app-footer>