<app-header></app-header>

<main class="container-xxl">

    <div class="card">
        <div class="card-header">
            {{pageTitle}}
        </div>

        <div class="card-body">
            <form novalidate (ngSubmit)="save()" [formGroup]="saleForm">

                <div class="row mb-3">
                    <label class="col-md-2 col-form-label" for="saleCodeId">SI Code</label>
                    <div class="col-md-8">
                        <input class="form-control" id="saleCodeId" type="text" placeholder="SI Code (required)"
                            formControlName="code"
                            [ngClass]="{'is-invalid': (saleForm.get('code')?.touched || saleForm.get('code')?.dirty) && !saleForm.get('code')?.valid }" />
                        <span class="invalid-feedback">
                            <span *ngIf="saleForm?.get('code')?.errors?.['required']">
                                Please enter SI Code.
                            </span>
                            <span *ngIf="saleForm?.get('code')?.errors?.['maxlength']">
                                SI Code must be less than 50 characters.
                            </span>
                            <span *ngIf="saleForm?.get('code')?.errors?.['minlength']">
                                SI Code must be more than 3 characters.
                            </span>
                        </span>
                    </div>
                </div>


                <div formArrayName="sale_detail">
                    <div class="row mb-3" [formGroupName]="i"
                        *ngFor="let saleDetail of sale_detail.controls; let i=index">
                        <label class="col-md-2 col-form-label" attr.for="{{'productVariationId' + i}}">
                            Product
                        </label>
                        <div class="col-md-4">
                            <select class="form-select" id="{{'productVariationId' + i}}"
                                formControlName="product_variation">
                                <option selected>-</option>
                                <option *ngFor="let product of products" [value]="product.id">
                                    {{ product.product.name }} - {{ product.name }}
                                </option>
                            </select>
                        </div>
                        <div class="col-md-1">
                            <input class="form-control" type="number" placeholder="1" id="{{'quantityReleasedId' + i}}"
                                formControlName="quantity_released" />
                        </div>

                        <div class="col-md-2">
                            <button class="btn btn-outline-warning" type="button" (click)="deleteSaleDetail(i)">
                                Delete Product
                            </button>
                        </div>
                    </div>
                </div>



                <div class="row">
                    <div class="col-md-2 mb-2">
                        <button class="btn btn-outline-secondary btn-sm" type="button" title="Add a search tag"
                            [disabled]="!sale_detail.valid" (click)="addSaleDetail()">
                            Add Product
                        </button>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="offset-md-2 col-md-4">
                        <button class="btn btn-primary mr-3" style="width:80px;" type="submit"
                            [disabled]="!saleForm.valid">
                            Save
                        </button>
                        <button class="btn btn-outline-secondary mr-3" style="width:80px;" type="button"
                            title="Cancel your edits" [routerLink]="['/sales']">
                            Cancel
                        </button>
                        <button class="btn btn-outline-danger" style="width:80px" type="button"
                            title="Delete this product"
                            (click)="deleteSale()">
                            Delete
                        </button>
                    </div>
                </div>
            </form>
        </div>

        <!-- <div class="alert alert-danger">
            errorMessage
        </div> -->
    </div>


</main>


<br>Dirty: {{ saleForm.dirty }}
<br>Touched: {{ saleForm.touched }}
<br>Valid: {{ saleForm.valid }}
<br>Value: {{ saleForm.value | json }}
<br>Street: {{ sale_detail.get('0.productVariation')?.value }}

<app-footer></app-footer>