<div>
    <h3>Sidebar</h3>
    <ul class="list-group">
        <li class="list-group-item list-group-item-light">
            <a class="link-primary" [routerLink]="['']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a class="link-primary" [routerLink]="['/about-us']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">About Us</a>
        </li>
        <li class="list-group-item list-group-item-light">
            <a class="link-primary" [routerLink]="['/products']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Products</a>
        </li>
    </ul>
</div>